*  {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
.windowContent :first-child {
  padding-top: 0;
  margin-top: 0;
}
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  //border-bottom: 1px solid #d4d4d4;
  background-color: #f1f1f1;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


:root {

    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: black;

}

.form-field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    //min-width: 30%;
    padding: 8px 16px;
    //padding:1em;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }
}

.form-group {
    position: relative;
    display: flex;
    width: 80%;
  height: 50%;
  text-align: center;
  margin: 0 auto;
    & > span,
    .form-field {
        white-space: nowrap;
        //padding:1em;
        //display: table-cell;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        //width: 100%;
      width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        padding: 8px 12px;
        font-size: 0.8em;
        line-height: 25px;
        color: var(--group-color-focus);
        background: var(--group-background-focus);
        border: 1px solid var(--group-border);
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            background-color: #275EFE;
            color: white;
            border-color: var(--group-border-focus);
        }
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center
body {
    //min-height: 100vh;
    font-family: 'Mukta Malar', Arial;
    //display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F9FF;
    .form-group {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  //background: white;
  background-image: none;
  border-color: black;
}

select::-ms-expand {
  display: none;
}

select {
  flex: 1;
  padding: 0 1.5em;
  color: black;
  cursor: pointer;
  //font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  //font-size: 1em;
}

.search-input {
  border: none;
  display: block;
  width: 100%;
  appearance: none;
  outline: none;
  width: 1%;
  font-size: 0.8em;
  color: var(--input-color);
  line-height: 1.2em;
  margin-top: 5px;
  background-color: #f1f1f1;

}

.select {
  position: relative;
  display: flex;
    //width: 100%;
  width: 100%;
  box-sizing: border-box;
  //height: 3em;
  line-height: 3;
  //background: #2c3e50;
  //background-color: white;
  overflow: hidden;
  &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
  //border-color: black;
  border: 1px solid var(--input-border);
  background-color: #f1f1f1;
    transition: border .3s ease;
    &::placeholder {
        color: var(--input-placeholder);
    }
    &:focus {
        outline: none;
        border-color: var(--input-border-focus);
    }

}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  vertical-align: center;
  transition: .25s all ease;
  background-color: #f1f1f1;
}
/* Transition */
.select:hover::after {
  color: var(--input-border-focus);
}

#searching-position {
  width:50%;
}

#relocation {
  display: flex;
    width: 2.4em;
  height: 2.6em;
  padding: 0;
  margin: 0;
    //padding: 8px 16px;
    //line-height: 25px;
    //font-size: 14px;
    //font-weight: 500;
    //font-family: inherit;
    //border-radius: 6px;
    //-webkit-appearance: none;
    //color: var(--input-color);
}

#relocation-span {
  display:table;
  margin:0 auto;
}

:root {
   --bg-thumb: #ffffff;
   --color-bg: hsl(0, 0%, 95%);
   --color-shadow: hsla(0, 0%, 0%, 0.25);
   --color-toggle-off-bg: black;
   --color-toggle-on-bg: grey;
   --color-smile-bg: black;
   --color-smile-fg: black;
   --font-label: 'Quicksand', sans-serif;
   --metric-toggle-thumb-size: 2em;
   --metric-toggle-thumb-space: 0.35rem;
   --transition-smooth: 350ms;
}

/* GENERAL */
body {
   background-color: var(--color-bg);
   display: flex;
   justify-content: center;
   align-items: center;
}

.toggle {
   display: flex;
   position: relative;
   //left: calc(-1 * calc(var(--metric-toggle-thumb-size) * 2));
   flex-direction: row;
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.toggle label {
   //text-transform: uppercase;
   //font-family: var(--font-label);
   font-size: 1.2em;
   width: 60%;
  margin-right: 0;
  margin-left: 5%;
   //display: flex;
  margin-top: 1%;
  color: var(--input-color);
}


.toggle button {
   //top: calc(var(--metric-toggle-thumb-space) * 2);
   width: 0px;
   height: 0px;
   background: none;
   padding: 0;
   margin-left: 0em;
   border: none;
   position: relative;
   cursor: pointer;
   transition: all 0.5s linear;
    //margin-top: 1em;
}

button:focus {outline:0;}

/* TOGGLE SWITCH */
.toggle button::before,
.toggle button::after {
   content: '';
   position: absolute;
   border-radius: var(--metric-toggle-thumb-size);
   height: var(--metric-toggle-thumb-size);
   transition: all var(--transition-smooth) ease;
}

.toggle button::before {
   //box-shadow: 0px 1px 5px var(--color-shadow);
   width: calc(
      (var(--metric-toggle-thumb-size) * 2) + (var(--metric-toggle-thumb-space))
   );
   background-color: var(--color-toggle-on-bg);
}

.toggle button::after {
   width: var(--metric-toggle-thumb-size);
   border: calc(var(--metric-toggle-thumb-space)) solid
      var(--color-toggle-on-bg);
   background: var(--bg-thumb);
}

.toggle button[aria-pressed='true']::before {
   background-color: black;
}

.toggle button[aria-pressed='true']::after {
   border: calc(var(--metric-toggle-thumb-space)) solid
     black;
   transform: translateX(
      calc(var(--metric-toggle-thumb-size) + var(--metric-toggle-thumb-space))
   );
   background-color: white;
}

/* TOGGLE DECORATION */
/* IMPROVEMENT: scale like the rest */
body {
  background-color: white;
}
.toggle__decoration {
   position: absolute;
   background-color: var(--color-smile-fg);
   transition: all 0.1s ease;
   transition-delay: var(--transition-smooth);
   z-index: 10;
   transform: scale(0) skew(3rad);
}

#save-button {
  margin: auto;
  border-radius: 2em;
  background: black;
  border: 0;
  color: white;
  font-size: 1.2em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  //width: 50%;
}
#save-button, #save-button label {
  cursor: pointer;
}

form {
  margin-top: 2.5%;
  width: 100%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  //height: 100em;
  //text-align: left;
}

#form-div {
  width: 100%;
  display:block;
  text-align: center;
}

.editButton {
    width : 12em;
    height : 3em;
    border-radius: 2em;
    background-color:white;
    text-align:center;
    line-height: 3em;
    border: 1px solid black;
    margin-top:1em;
    float: right;
    margin-right: 1em;
    display: inline-block;
}

.editButton label {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    font-weight: 100
}

//#home-div {
//  margin-left: 1em;
//  float:left;
//}

.bookmarkButton {
    height:2em;
    width:2em;
  display:inline-block;
  vertical-align: center;
  display: inline-block;
    margin-top: 0.5em;
}

.bookmarkOutline{
    height:3em;
    width:3em;
    margin-top:1em;
    float: right;
    margin-right: 1em;
    border: 1px solid black;
    border-radius:2em;
    text-align:center;
    //vertical-align:middle;
    //display:table-cell;
  vertical-align: center;
}


.navBar {
    display: block;
    margin-top: 0;
    height: 5em;
    width:100%;
    font-size: 1.5em;
    //border-bottom: 0.1em #DCDCDC solid;
}


.bmc-button img{
    height: 1.20em;
    width: 1.20em;
    margin-bottom: 0.4em;
    box-shadow: none;
    border: none;
    vertical-align: middle;
}
.bmc-button{
    width : 12em;
    height : 3em;
    border-radius: 2em;
    background-color:white;
    text-align:center;
    line-height: 3em;
    border: 0.15em solid black;
    margin-top:1em;
    float: right;
    margin-right: 1em;
    text-decoration: none;
    color:white;
    background-color: black;
    font-family:'Cookie', cursive;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
    text-decoration: none;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
    opacity: 0.85;
    color:#ffffff
}

.editButton:hover, .editButton:active, .editButton:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
    text-decoration: none;
}

.bookmarkOutline:hover, .bookmarkOutline:active, .bookmarkOutline:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
    text-decoration: none;
}


html, body, ul{
padding:0;
margin:0;
}


#error-message {
  margin-top: 1em;
  color:red;
}








