*, *::before, *::after { box-sizing: border-box; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
  background: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  text-align: center;
}

#nav-bar {
  width: 100%;
  border-bottom: 0.5px solid rgb(175,175,175);
  height: 3em;
}

#title-top {
  display: inline-block;

  font-size: 2em;
  text-align: center;
  margin-top: 10%;
  width: 80%;
  padding: 0;
  font-family:helvetica,courier,arial;
  color: rgb(50,50,50);
}

$threshold1: 1300px;
$threshold2: 1700px;

#product-search {
  display: grid;
  align-items: center;
  background: transparent;
  margin: 0 auto;
  //box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
  cursor: pointer;
    //border-radius: 30px;
    width: 80%;
    text-align: left;

  font-family: Helvetica, Arial;
  //font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;
}

//mobile




$color:#3694d7;
$timing:.3s;

body {
  text-align:center;
  min-height:95vh;
  margin:0;
  padding:0;
  font-family: "Myriad Pro","Arial",sans;
  font-size:24px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
  border-color: black;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  background-color: white;
  overflow: hidden;
  border-radius: .25em;
  border-color: black;
  border: 1px solid black;
}
select {
  flex: 1;
  padding: 0 1.5em;
  color: black;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 0.75em;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  vertical-align: center;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.search-element {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  //border-right: 1px solid rgba(10,10,10,.1);
  padding: 0.5em;
}

#search-element-last {
  border-right: 0
}

.search-label {
  font-weight: 700;
}
#test-id {
  font-size: 100px;
}
.search-input {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 5px;

}

#college-div {
  padding-left: 0;
}
#locations-div {
  padding-right: 0;
}
.card {
  background-color: white;
  color: black;
  padding: 1rem;
  /*height: 4rem;*/
  border-radius: 0.3em;
  text-align: left;
  border: 1px solid black;
  font-family:helvetica,courier,arial;
  color: rgb(50,50,50);


  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  word-wrap: break-word;
}

.card:hover {
  border: 3px solid black;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: underline;
  //font-size: 100px;
}

.icons {
  height: 1em;
  width: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.employee-names {
  font-weight: 900;
  font-size: 1.5em;
}

.employee-relocation, .employee-category {
  color: rgb(150,150,150);
}

.employee-prev-jobs, .employee-searching-position, .employee-education, .employee-location, .employee-email, {
  margin-top: 0.25em;
}

.employee-description {
  margin-top: 1em;
}

.GitHub-link, .LinkedIn-link, .Website-link, .Resume-link {
  margin-top: 0.5em;
}

.GitHub-link {
  margin-top: 1em;
}
#cards {
  width: 80%;
  margin: 5em auto;
  display: grid;
  grid-gap: 1rem;


  column-count: 2;
  margin: 1.5em auto;
  max-width: 3000px;
  column-gap: 1.5em;
}

//@media (min-width: $threshold1) {
//  #cards { grid-template-columns: repeat(2, 1fr); }
//}
//
//@media (min-width: $threshold2) {
//  #cards { grid-template-columns: repeat(3, 1fr); }
//}

.search-label, .search-input {
    padding: 0 0.5em;
}

.search-input:focus {
  box-shadow: 0px 2px 0px 0px tomato;
}

.search-btn-element {
    
}
.search-button {
  display: inline-block;
  flex-grow: 1;
  height: 4em;
  line-height: 80px;
  padding: 0 2em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 100;
  border: 0;
    width: 8%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: tomato;
  transition: background-color 0.8s ease;
    border-radius: 20px;
}

.search-button:hover {
  background-color: HSLA(345, 100%, 60%, 1.00);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

.nav-btn {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  width: 20%;
  //margin: 2em;
  background-color: #0B78B7;
  vertical-align: center;
  top: 25%;
  font: 500 14px/40px Roboto;
  //font-size: 10vh;
  letter-spacing: 0.65px;
  color: white;
  padding-left: 58px;
  border-radius: 2px;
  overflow: hidden;
  //margin-right: 10%;
  right: 2.5%;
  float:right;
}

#edit-btn {

}

#linkedin-btn:hover {
  background-color: #0469A0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .24);
}

#linkedin-btn:active {
  background-color: #066093;
}

.ico-wrapper {
  position: absolute;
  top: -2px;
  left: -6px;
  width: 48px;
  height: 44px;
  background-color: #0B78B7;
  border: 2px solid #085B8C;
  border-radius: 5px;
  box-sizing: border-box;
}

.ico {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}


$theme: (
    'background': white,
    'foreground': #9ca4c1,
    'primary': #7d6ee7,
);

$size: (
    'font': 15px,
    'item': 2.2rem,
);


body {
    //font-family: 'Source Sans Pro', sans-serif;
    //background-color: whitesmoke;
}

// COMPONENT
//
//.pagination-item,
//.pagination-navigation,
//.pagination-more {
//    height: map-get($size, 'item');
//    width: map-get($size, 'item');
//    margin: .3rem;
//    font-size: map-get($size, 'font');
//    color: map-get($theme, 'foreground');
//    font-weight: 700;
//}
//
//.pagination-item,
//.pagination-navigation {
//    background-color: map-get($theme, 'background');
//    border-radius: 4px;
//    transition-property: opacity, color, background-color;
//    transition-duration: 160ms;
//    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
//}
//
//.pagination-item {
//    padding: 0 5px;
//
//    &.active {
//        color: map-get($theme, 'background');
//        background-color: map-get($theme, 'primary');
//    }
//
//    &:hover,
//    &:focus {
//        background-color: darken(map-get($theme, 'background'), 3%);
//
//        &.active {
//            background-color: lighten(map-get($theme, 'primary'), 4%);
//        }
//    }
//
//    &:active {
//        background-color: darken(map-get($theme, 'background'), 7%);
//
//        &.active {
//            background-color: lighten(map-get($theme, 'primary'), 9%);
//        }
//    }
//}
//
//.pagination-navigation {
//    display: inline-flex;
//    justify-content: center;
//    align-items: center;
//    margin-left: 10px;
//    margin-right: 10px;
//    text-decoration: none;
//
//    &.disabled {
//        opacity: .6;
//        cursor: default;
//    }
//
//    &:hover:not(.disabled),
//    &:focus:not(.disabled) {
//        background-color: darken(map-get($theme, 'background'), 3%);
//    }
//
//    &:active:not(.disabled) {
//        background-color: darken(map-get($theme, 'background'), 7%);
//    }
//}
//
//.pagination-more {
//    display: inline-flex;
//    align-items: flex-end;
//    justify-content: center;
//}
//
//.pagination {
//    display: inline-flex;
//    align-items: center;
//    justify-content: center;
//    max-width: 100%;
//    width: 100%;
//    margin: 0;
//    padding-left: 0;
//    list-style-type: none;
//
//    > li {
//        align-items: center;
//        display: flex;
//    }
//
//    button {
//        border: 0;
//        outline: none;
//        cursor: pointer;
//    }
//
//    &.disabled {
//        pointer-events: none;
//        opacity: .6;
//    }
//}
//
//
//// LAYOUT
//
//.container {
//    margin: 0 auto;
//    padding: 0 1rem;
//    padding-bottom: 50px;
//}
//
//.controls {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    margin: 40px 0;
//
//    input {
//        width: 60px;
//        margin-left: .3rem;
//        margin-right: 1.5rem;
//    }
//}
//
//.stage-container {
//    padding: 10px 0;
//    background-color: white;
//    border-radius: 6px;
//    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
//}

$border-color: #3D315B;
$background-color: #266DD3;
$list-background-color: #444B6E;
$active-list-background-color: black;
$border-radius: 5px;

a:hover {
  cursor: pointer;
}
#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: Roboto, Helvetica, Arial;
  font-weight: 100;
  margin-bottom: 2em;
  li {
    color: rgb(50,50,50);
    display: flex;
    font-size: 2em;
    a {
      background-color: white;
      padding: 5px 10px;
      //border: 2px solid $border-color;
      border-right: 0;
      width: 100%;
    }
  }

  li.active a {
    background-color: $active-list-background-color;
    color: white;
  }
  li:first-child a {
    //border-radius: $border-radius 0 0 $border-radius;
  }
  li:last-child a {
    //border-radius: 0 $border-radius $border-radius 0;
    //border-right: 2px solid $border-color;
  }
}


@media (max-width: $threshold1) {
  li {
    width: 3em;
  }
}

@media (min-width: $threshold1) {
  #product-search { grid-template-columns: repeat(2, 1fr); }
  #cards { grid-template-columns: repeat(2, 1fr); }
  #categories-search {
  padding-left: 0;
}
  #companies-search {
  padding-right: 0;
}
  #search-element-last {
    padding-right: 0;
  }
}

@media (min-width: $threshold2) {
  #product-search {
    grid-template-columns: repeat(4, 1fr);
  }
#cards {
  grid-template-columns: repeat(2, 1fr);
}

  .search-element {
    padding: 0.5em ;
  }

  #companies-search {
    padding-right: 0.5em;
  }
  #categories-search {
    padding-left: 0.5em;
  }
  #search-element-last {
    padding-right: 0;
  }
}

@media (max-width: $threshold1) {
  #product-search {
    grid-template-columns: repeat(1, 1fr);
  }
  #cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .select {
    height: 5em;
    vertical-align: center;
  }
  .search-input {
    font-size: 40px;
  }
  .search-element {
    padding-left: 0;
    padding-right: 0;
  }
}






body{
    margin: 0;
}
.saveButton {
    width : 12em;
    height : 3em;
    border-radius: 2em;
    background-color:black;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
}

.saveButton label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: 400;
}

#title-top {
    display: inline-block;
    font-family: helvetica,courier,arial;
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    padding: 0;
    color: #323232;
  }

.editButton {
    width : 12em;
    height : 3em;
    border-radius: 2em;
    background-color:white;
    text-align:center;
    line-height: 3em;
    border: 0.15em solid black;
    margin-top:1em;
    float: right;
    margin-right: 1em;
    display: inline-block;
}

.editButton label {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    font-weight: 600
}

.bookmarkButton {
    height:2em;
    width:2em;
  display:inline-block;
  vertical-align: center;
  display: inline-block;
    //margin-top: 0.5em;
}

.bookmarkOutline{
    height:3em;
    width:3em;
    margin-top:1em;
    float: right;
    margin-right: 1em;
    border: 0.15em solid black;
    border-radius:2em;
    text-align:center;
    //vertical-align:middle;
    display:table-cell;
  vertical-align: center;
}

.navBar {
    margin-top: 0%;
    height: 5em;
    width:100%;
    border-bottom: 0.1em #DCDCDC solid;
}

.bmc-button img{
    height: 1.20em;
    width: 1.20em;
    margin-bottom: 0.3em;
    box-shadow: none;
    border: none;
    vertical-align: middle;
}
.bmc-button{
    width : 12em;
    height : 3em;
    border-radius: 2em;
    background-color:white;
    text-align:center;
    line-height: 3em;
    border: 0.15em solid black;
    margin-top:1em;
    float: right;
    margin-right: 1em;
    text-decoration: none;
    color:white;
    background-color: black;
    font-family:'Cookie', cursive;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
    text-decoration: none;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
    opacity: 0.85;
    color:#ffffff
}

.editButton:hover, .editButton:active, .editButton:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
    text-decoration: none;
}

.bookmarkOutline:hover, .bookmarkOutline:active, .bookmarkOutline:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
    text-decoration: none;
}

