*, *::before, *::after { box-sizing: border-box; }

body {
  background: HSLA(0, 0%, 96%, 1.00);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  text-align: center;
}

#title-top {
  display: inline-block;
  font-family:helvetica,courier,arial;
  font-size: 3em;
  text-align: center;
  margin-top: 10%;
  width: 80%;
  padding: 0;
  color: rgb(50,50,50);
}

.product-search {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
  cursor: pointer;
    border-radius: 30px;
    width: 80%;
    text-align: left;
}

.search-element {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  border-right: 1px solid rgba(10,10,10,.1);
  padding: 1.625em;
}

#search-element-last {
  border-right: 1px
}

.search-label {
  font-weight: 700;
}

.search-input {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 5px;

}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  /*height: 4rem;*/
  border-radius: 0.3em;
}

#cards {
  max-width: 80%;
  margin: 5em auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  #cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  #cards { grid-template-columns: repeat(3, 1fr); }
}

.search-label, .search-input {
    padding: 0 0.5em;
}

.search-input:focus {
  box-shadow: 0px 2px 0px 0px tomato;
}

.search-btn-element {
    
}
.search-button {
  display: inline-block;
  flex-grow: 1;
  height: 4em;
  line-height: 80px;
  padding: 0 2em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 100;
  border: 0;
    width: 8%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: tomato;
  transition: background-color 0.8s ease;
    border-radius: 20px;
}

.search-button:hover {
  background-color: HSLA(345, 100%, 60%, 1.00);
}






@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

#linkedin-btn {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  width: 240px;
  margin: 5em;
  background-color: #0B78B7;
  vertical-align: center;
  left: 40%;
  font: 500 14px/40px Roboto;
  letter-spacing: 0.65px;
  color: white;
  padding-left: 58px;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24);
  overflow: hidden;
}

#linkedin-btn:hover {
  background-color: #0469A0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .24);
}

#linkedin-btn:active {
  background-color: #066093;
}

.ico-wrapper {
  position: absolute;
  top: -2px;
  left: -6px;
  width: 48px;
  height: 44px;
  background-color: #0B78B7;
  border: 2px solid #085B8C;
  border-radius: 5px;
  box-sizing: border-box;
}

.ico {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}